
/*euip*/
/*rgba(255,255,255,255)*/

/*rgba(94,180,216,255)*/

/*rgba(143,195,31,255)*/

/*rgba(255,216,0,255)*/

/*rgba(244,54,65,255)*/



/*gun*/


/*rgba(111,221,203,255)*/

/*rgba(210,224,92,255)*/

/*rgba(255,180,0,255)*/
/**/
/*rgba(255,79,0,255)*/



/*rgba(190,222,199,255);*/


/*2 stars*/

.btn-rank-2 {
    color: #fff;
    background-color:rgba(190,222,199,255);
    border: 0 !important;
}

.btn-rank-2:focus,
.btn-rank-2.focus {
    color: #fff;
    background-color:rgba(172,197,179,255);

}
.btn-rank-2:hover {
    color: #fff;
    background-color:rgba(172,197,179,255);

}
.btn-rank-2:active,
.btn-rank-2.active,
.open > .dropdown-toggle.btn-rank-2 {
    color: #fff;
    background-color:rgba(172,197,179,255);

}
.btn-rank-2:active:hover,
.btn-rank-2.active:hover,
.open > .dropdown-toggle.btn-rank-2:hover,
.btn-rank-2:active:focus,
.btn-rank-2.active:focus,
.open > .dropdown-toggle.btn-rank-2:focus,
.btn-rank-2:active.focus,
.btn-rank-2.active.focus,
.open > .dropdown-toggle.btn-rank-2.focus {
    color: #fff;
    background-color:rgba(172,197,179,255);

}
.btn-rank-2:active,
.btn-rank-2.active,
.open > .dropdown-toggle.btn-rank-2 {
    background-image: none;
}
.btn-rank-2.disabled,
.btn-rank-2[disabled],
fieldset[disabled] .btn-rank-2,
.btn-rank-2.disabled:hover,
.btn-rank-2[disabled]:hover,
fieldset[disabled] .btn-rank-2:hover,
.btn-rank-2.disabled:focus,
.btn-rank-2[disabled]:focus,
fieldset[disabled] .btn-rank-2:focus,
.btn-rank-2.disabled.focus,
.btn-rank-2[disabled].focus,
fieldset[disabled] .btn-rank-2.focus,
.btn-rank-2.disabled:active,
.btn-rank-2[disabled]:active,
fieldset[disabled] .btn-rank-2:active,
.btn-rank-2.disabled.active,
.btn-rank-2[disabled].active,
fieldset[disabled] .btn-rank-2.active {
    background-color: rgba(190,222,199,255);

}
.btn-rank-2 .badge {
    color: rgba(190,222,199,255);
    background-color: #fff;
}











.btn-rank-3 {
    color: #fff;
    background-color: rgba(111,221,203,255);

}
.btn-rank-3:focus,
.btn-rank-3.focus {
    color: #fff;
    background-color: rgba(109,204,188,255);

}
.btn-rank-3:hover {
    color: #fff;
    background-color: rgba(109,204,188,255);

}
.btn-rank-3:active,
.btn-rank-3.active,
.open > .dropdown-toggle.btn-rank-3 {
    color: #fff;
    background-color: rgba(109,204,188,255);

}
.btn-rank-3:active:hover,
.btn-rank-3.active:hover,
.open > .dropdown-toggle.btn-rank-3:hover,
.btn-rank-3:active:focus,
.btn-rank-3.active:focus,
.open > .dropdown-toggle.btn-rank-3:focus,
.btn-rank-3:active.focus,
.btn-rank-3.active.focus,
.open > .dropdown-toggle.btn-rank-3.focus {
    color: #fff;
    background-color: rgba(109,204,188,255);

}
.btn-rank-3:active,
.btn-rank-3.active,
.open > .dropdown-toggle.btn-rank-3 {
    background-image: none;
}
.btn-rank-3.disabled,
.btn-rank-3[disabled],
fieldset[disabled] .btn-rank-3,
.btn-rank-3.disabled:hover,
.btn-rank-3[disabled]:hover,
fieldset[disabled] .btn-rank-3:hover,
.btn-rank-3.disabled:focus,
.btn-rank-3[disabled]:focus,
fieldset[disabled] .btn-rank-3:focus,
.btn-rank-3.disabled.focus,
.btn-rank-3[disabled].focus,
fieldset[disabled] .btn-rank-3.focus,
.btn-rank-3.disabled:active,
.btn-rank-3[disabled]:active,
fieldset[disabled] .btn-rank-3:active,
.btn-rank-3.disabled.active,
.btn-rank-3[disabled].active,
fieldset[disabled] .btn-rank-3.active {
    background-color: rgba(111,221,203,255);

}
.btn-rank-3 .badge {
    color: rgba(111,221,203,255);
    background-color: #fff;
}






.btn-rank-4 {
    color: #fff;
    background-color: rgba(210,224,92,255);

}
.btn-rank-4:focus,
.btn-rank-4.focus {
    color: #fff;
    background-color: rgba(193,206,89,255);

}
.btn-rank-4:hover {
    color: #fff;
    background-color: rgba(193,206,89,255);

}
.btn-rank-4:active,
.btn-rank-4.active,
.open > .dropdown-toggle.btn-rank-4 {
    color: #fff;
    background-color: rgba(193,206,89,255);

}
.btn-rank-4:active:hover,
.btn-rank-4.active:hover,
.open > .dropdown-toggle.btn-rank-4:hover,
.btn-rank-4:active:focus,
.btn-rank-4.active:focus,
.open > .dropdown-toggle.btn-rank-4:focus,
.btn-rank-4:active.focus,
.btn-rank-4.active.focus,
.open > .dropdown-toggle.btn-rank-4.focus {
    color: #fff;
    background-color: rgba(187,199,83,255);

}
.btn-rank-4:active,
.btn-rank-4.active,
.open > .dropdown-toggle.btn-rank-4 {
    background-image: none;
}
.btn-rank-4.disabled,
.btn-rank-4[disabled],
fieldset[disabled] .btn-rank-4,
.btn-rank-4.disabled:hover,
.btn-rank-4[disabled]:hover,
fieldset[disabled] .btn-rank-4:hover,
.btn-rank-4.disabled:focus,
.btn-rank-4[disabled]:focus,
fieldset[disabled] .btn-rank-4:focus,
.btn-rank-4.disabled.focus,
.btn-rank-4[disabled].focus,
fieldset[disabled] .btn-rank-4.focus,
.btn-rank-4.disabled:active,
.btn-rank-4[disabled]:active,
fieldset[disabled] .btn-rank-4:active,
.btn-rank-4.disabled.active,
.btn-rank-4[disabled].active,
fieldset[disabled] .btn-rank-4.active {
    background-color: rgba(210,224,92,255);

}
.btn-rank-4 .badge {
    color: rgba(210,224,92,255);
    background-color: #fff;
}




.btn-rank-5 {
    color: #fff;
    background-color: rgba(255,180,0,255);

}
.btn-rank-5:focus,
.btn-rank-5.focus {
    color: #fff;
    background-color: rgba(224,160,5,255);

}
.btn-rank-5:hover {
    color: #fff;
    background-color: rgba(224,160,5,255);

}
.btn-rank-5:active,
.btn-rank-5.active,
.open > .dropdown-toggle.btn-rank-5 {
    color: #fff;
    background-color: rgba(224,160,5,255);
}
.btn-rank-5:active:hover,
.btn-rank-5.active:hover,
.open > .dropdown-toggle.btn-rank-5:hover,
.btn-rank-5:active:focus,
.btn-rank-5.active:focus,
.open > .dropdown-toggle.btn-rank-5:focus,
.btn-rank-5:active.focus,
.btn-rank-5.active.focus,
.open > .dropdown-toggle.btn-rank-5.focus {
    color: #fff;
    background-color: rgba(224,160,5,255);
}
.btn-rank-5:active,
.btn-rank-5.active,
.open > .dropdown-toggle.btn-rank-5 {
    background-image: none;
}
.btn-rank-5.disabled,
.btn-rank-5[disabled],
fieldset[disabled] .btn-rank-5,
.btn-rank-5.disabled:hover,
.btn-rank-5[disabled]:hover,
fieldset[disabled] .btn-rank-5:hover,
.btn-rank-5.disabled:focus,
.btn-rank-5[disabled]:focus,
fieldset[disabled] .btn-rank-5:focus,
.btn-rank-5.disabled.focus,
.btn-rank-5[disabled].focus,
fieldset[disabled] .btn-rank-5.focus,
.btn-rank-5.disabled:active,
.btn-rank-5[disabled]:active,
fieldset[disabled] .btn-rank-5:active,
.btn-rank-5.disabled.active,
.btn-rank-5[disabled].active,
fieldset[disabled] .btn-rank-5.active {
    background-color: rgba(255,180,0,255);
}
.btn-rank-5 .badge {
    color: rgba(255,180,0,255);
    background-color: #fff;
}




.color-rank-5{
    color: rgba(255,180,0,255);
}

.color-rank-4{
    color: rgba(210,224,92,255);
}

.color-rank-3{
    color: rgba(111,221,203,255);
}

.color-rank-2{
    color: rgb(117, 136, 122);
}






.btn-equip-rank-2 {
    color: #fff;
    background-color: rgba(136, 136, 136,255);

}
.btn-equip-rank-2:focus,
.btn-equip-rank-2.focus {
    color: #fff;
    background-color: rgba(117, 117, 117,255);

}
.btn-equip-rank-2:hover {
    color: #fff;
    background-color: rgba(117, 117, 117,255);

}
.btn-equip-rank-2:active,
.btn-equip-rank-2.active,
.open > .dropdown-toggle.btn-equip-rank-2 {
    color: #fff;
    background-color: rgba(117, 117, 117,255);

}
.btn-equip-rank-2:active:hover,
.btn-equip-rank-2.active:hover,
.open > .dropdown-toggle.btn-equip-rank-2:hover,
.btn-equip-rank-2:active:focus,
.btn-equip-rank-2.active:focus,
.open > .dropdown-toggle.btn-equip-rank-2:focus,
.btn-equip-rank-2:active.focus,
.btn-equip-rank-2.active.focus,
.open > .dropdown-toggle.btn-equip-rank-2.focus {
    color: #fff;
    background-color:rgba(86, 86, 86,255)

}
.btn-equip-rank-2:active,
.btn-equip-rank-2.active,
.open > .dropdown-toggle.btn-equip-rank-2 {
    background-image: none;
}
.btn-equip-rank-2.disabled,
.btn-equip-rank-2[disabled],
fieldset[disabled] .btn-equip-rank-2,
.btn-equip-rank-2.disabled:hover,
.btn-equip-rank-2[disabled]:hover,
fieldset[disabled] .btn-equip-rank-2:hover,
.btn-equip-rank-2.disabled:focus,
.btn-equip-rank-2[disabled]:focus,
fieldset[disabled] .btn-equip-rank-2:focus,
.btn-equip-rank-2.disabled.focus,
.btn-equip-rank-2[disabled].focus,
fieldset[disabled] .btn-equip-rank-2.focus,
.btn-equip-rank-2.disabled:active,
.btn-equip-rank-2[disabled]:active,
fieldset[disabled] .btn-equip-rank-2:active,
.btn-equip-rank-2.disabled.active,
.btn-equip-rank-2[disabled].active,
fieldset[disabled] .btn-equip-rank-2.active {
    background-color: rgba(136, 136, 136,255);

}
.btn-equip-rank-2 .badge {
    color: rgba(136, 136, 136,255);
    background-color: #fff;
}





.btn-equip-rank-3 {
    color: #fff;
    background-color: rgba(94,180,216,255);

}
.btn-equip-rank-3:focus,
.btn-equip-rank-3.focus {
    color: #fff;
    background-color: rgba(85,161,193,255);;

}
.btn-equip-rank-3:hover {
    color: #fff;
    background-color: rgba(85,161,193,255);;

}
.btn-equip-rank-3:active,
.btn-equip-rank-3.active,
.open > .dropdown-toggle.btn-equip-rank-3 {
    color: #fff;
    background-color: rgba(85,161,193,255);;;

}
.btn-equip-rank-3:active:hover,
.btn-equip-rank-3.active:hover,
.open > .dropdown-toggle.btn-equip-rank-3:hover,
.btn-equip-rank-3:active:focus,
.btn-equip-rank-3.active:focus,
.open > .dropdown-toggle.btn-equip-rank-3:focus,
.btn-equip-rank-3:active.focus,
.btn-equip-rank-3.active.focus,
.open > .dropdown-toggle.btn-equip-rank-3.focus {
    color: #fff;
    background-color:rgb(78, 148, 177);

}
.btn-equip-rank-3:active,
.btn-equip-rank-3.active,
.open > .dropdown-toggle.btn-equip-rank-3 {
    background-image: none;
}
.btn-equip-rank-3.disabled,
.btn-equip-rank-3[disabled],
fieldset[disabled] .btn-equip-rank-3,
.btn-equip-rank-3.disabled:hover,
.btn-equip-rank-3[disabled]:hover,
fieldset[disabled] .btn-equip-rank-3:hover,
.btn-equip-rank-3.disabled:focus,
.btn-equip-rank-3[disabled]:focus,
fieldset[disabled] .btn-equip-rank-3:focus,
.btn-equip-rank-3.disabled.focus,
.btn-equip-rank-3[disabled].focus,
fieldset[disabled] .btn-equip-rank-3.focus,
.btn-equip-rank-3.disabled:active,
.btn-equip-rank-3[disabled]:active,
fieldset[disabled] .btn-equip-rank-3:active,
.btn-equip-rank-3.disabled.active,
.btn-equip-rank-3[disabled].active,
fieldset[disabled] .btn-equip-rank-3.active {
    background-color: rgba(94,180,216,255);
}
.btn-equip-rank-3 .badge {
    color: rgba(94,180,216,255);
    background-color: #fff;
}





.btn-equip-rank-4 {
    color: #fff;
    background-color: rgba(143,195,31,255);
  
}
.btn-equip-rank-4:focus,
.btn-equip-rank-4.focus {
    color: #fff;
    background-color: rgba(130,177,30,255);

}
.btn-equip-rank-4:hover {
    color: #fff;
    background-color: rgba(130,177,30,255);

}
.btn-equip-rank-4:active,
.btn-equip-rank-4.active,
.open > .dropdown-toggle.btn-equip-rank-4 {
    color: #fff;
    background-color: rgba(130,177,30,255);

}
.btn-equip-rank-4:active:hover,
.btn-equip-rank-4.active:hover,
.open > .dropdown-toggle.btn-equip-rank-4:hover,
.btn-equip-rank-4:active:focus,
.btn-equip-rank-4.active:focus,
.open > .dropdown-toggle.btn-equip-rank-4:focus,
.btn-equip-rank-4:active.focus,
.btn-equip-rank-4.active.focus,
.open > .dropdown-toggle.btn-equip-rank-4.focus {
    color: #fff;
    background-color:rgba(117,158,27,255);

}
.btn-equip-rank-4:active,
.btn-equip-rank-4.active,
.open > .dropdown-toggle.btn-equip-rank-4 {
    background-image: none;
}
.btn-equip-rank-4.disabled,
.btn-equip-rank-4[disabled],
fieldset[disabled] .btn-equip-rank-4,
.btn-equip-rank-4.disabled:hover,
.btn-equip-rank-4[disabled]:hover,
fieldset[disabled] .btn-equip-rank-4:hover,
.btn-equip-rank-4.disabled:focus,
.btn-equip-rank-4[disabled]:focus,
fieldset[disabled] .btn-equip-rank-4:focus,
.btn-equip-rank-4.disabled.focus,
.btn-equip-rank-4[disabled].focus,
fieldset[disabled] .btn-equip-rank-4.focus,
.btn-equip-rank-4.disabled:active,
.btn-equip-rank-4[disabled]:active,
fieldset[disabled] .btn-equip-rank-4:active,
.btn-equip-rank-4.disabled.active,
.btn-equip-rank-4[disabled].active,
fieldset[disabled] .btn-equip-rank-4.active {
    background-color: rgba(143,195,31,255);
  
}
.btn-equip-rank-4 .badge {
    color: rgba(143,195,31,255);
    background-color: #fff;
}



.btn-equip-rank-5 {
    color: #fff;
    background-color:rgba(255,216,0,255);

}
.btn-equip-rank-5:focus,
.btn-equip-rank-5.focus {
    color: #fff;
    background-color: rgba(243,206,0,255);

}
.btn-equip-rank-5:hover {
    color: #fff;
    background-color: rgba(243,206,0,255);

}
.btn-equip-rank-5:active,
.btn-equip-rank-5.active,
.open > .dropdown-toggle.btn-equip-rank-5 {
    color: #fff;
    background-color: rgba(243,206,0,255);

}
.btn-equip-rank-5:active:hover,
.btn-equip-rank-5.active:hover,
.open > .dropdown-toggle.btn-equip-rank-5:hover,
.btn-equip-rank-5:active:focus,
.btn-equip-rank-5.active:focus,
.open > .dropdown-toggle.btn-equip-rank-5:focus,
.btn-equip-rank-5:active.focus,
.btn-equip-rank-5.active.focus,
.open > .dropdown-toggle.btn-equip-rank-5.focus {
    color: #fff;
    background-color: rgba(233,196,0,255);

}
.btn-equip-rank-5:active,
.btn-equip-rank-5.active,
.open > .dropdown-toggle.btn-equip-rank-5 {
    background-image: none;
}
.btn-equip-rank-5.disabled,
.btn-equip-rank-5[disabled],
fieldset[disabled] .btn-equip-rank-5,
.btn-equip-rank-5.disabled:hover,
.btn-equip-rank-5[disabled]:hover,
fieldset[disabled] .btn-equip-rank-5:hover,
.btn-equip-rank-5.disabled:focus,
.btn-equip-rank-5[disabled]:focus,
fieldset[disabled] .btn-equip-rank-5:focus,
.btn-equip-rank-5.disabled.focus,
.btn-equip-rank-5[disabled].focus,
fieldset[disabled] .btn-equip-rank-5.focus,
.btn-equip-rank-5.disabled:active,
.btn-equip-rank-5[disabled]:active,
fieldset[disabled] .btn-equip-rank-5:active,
.btn-equip-rank-5.disabled.active,
.btn-equip-rank-5[disabled].active,
fieldset[disabled] .btn-equip-rank-5.active {
    background-color:rgba(255,216,0,255);
  
}
.btn-equip-rank-5 .badge {
    color:rgba(255,216,0,255);
    background-color: #fff;
}


.color-equip-rank-5{
    color: rgba(255,216,0,255);
}

.color-equip-rank-4{
    color: rgba(143,195,31,255);
}

.color-equip-rank-3{
    color:rgba(94,180,216,255);
}

.color-equip-rank-2{
    color: rgba(136, 136, 136,255);
}
