<!DOCTYPE html>
<html ng-app="app" xmlns:ng="http://angularjs.org" id="ng-app"  >
<head lang="en">
    <meta charset="UTF-8">
    <title>IOP制造公司出货统计2.0 alpha</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="css/bootstrap-theme.css">-->
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/angular.min.js"></script>

    <link rel="stylesheet" href="css/gun_css.css">


    <style>
        *{
            font-family: 'Microsoft YaHei UI','Microsoft YaHei','SimSun','Segoe UI','Lucida Grande',Verdana,Arial,Helvetica,sans-serif !important;
        }
        .navbar-nav > li > a {
            line-height: 40px;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }
        body { padding-top: 70px; }

        .navbar{
            min-height:70px;
        }

        .navbar-brand img{
            height:40px;
            display: inline;
        }
        .navbar-brand div{
            display: inline;
            color: white;
        }
        .bg-inverse {
            background-color: #252628;
        }
        .btn-gun{
            margin-left:10px;
            margin-top:10px;
        }
        .intro{
            font-size:16px;
        }
        .latest_build{
            width:100%;

            margin-top:5em;
        }



        .btn-no-border{
            border: 0 !important;
        }





    </style>
</head>
<body ng-controller="list">

<nav class="navbar navbar-black bg-inverse  navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="img/iop.jpg">
                <div>
                    IOP制造公司出货统计2.0 Alpha
                </div>

            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                <!--<li><a href="#">Link</a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">One more separated link</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
            <!--<form class="navbar-form navbar-left">-->
                <!--<div class="form-group">-->
                    <!--<input type="text" class="form-control" placeholder="Search">-->
                <!--</div>-->
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
            <!--</form>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#">Link</a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<div class="content" ng-show="page == 'List'">

    <div class="container">

        <div class="panel panel-default" style="margin-top: 10px;">
            <div class="panel-heading">通知</div>
            <div class="panel-body">
                <p>数据来自<a href="#">{{dataFrom}}</a></p>

                <p>
                    上次更新：{{last_update  | date : 'yyyy-MM-dd hh:mm:ss '}}
                </p>

                已有装备建造条目：{{equip_count}}
                </br>
                已有人形建造条目：{{gun_count}}
                </br>
                </br></br>

    			<u><b>重建&装备建造统计已实装！</b></u>
                </br></br>

    			如有问题，请发送邮件到gfdb@baka.pw或加QQ讨论群: 456216210 进行反馈。
            </div>
        </div>

        <div>
            <h4>
                HG(手枪)
            </h4>

            <button type="button"  ng-class="{2: 'btn-rank-2', 3: 'btn-rank-3', 4: 'btn-rank-4', 5: 'btn-rank-5'}[gun.rank]"  class="btn btn-gun" ng-click="showGunCount(gun)" ng-repeat="gun in gun_info |  orderBy: 'rank' | filter:{type:1}">
                {{gun.name}}
                <span class="gun_code">| {{gun.code}}</span>
            </button>
        </div>

        <br>
        <div>
            <h4>
                SMG(冲锋枪)
            </h4>

            <button type="button" ng-class="{2: 'btn-rank-2', 3: 'btn-rank-3', 4: 'btn-rank-4', 5: 'btn-rank-5'}[gun.rank]"  class="btn btn-gun"  ng-click="showGunCount(gun)" ng-repeat="gun in gun_info | orderBy: 'rank' |  filter:{type:2}">
                {{gun.name}}
                <span class="gun_code">| {{gun.code}}</span>
            </button>
        </div>

        <br>
        <div>
            <h4>
                RF(步枪)
            </h4>

            <button type="button"  ng-class="{2: 'btn-rank-2', 3: 'btn-rank-3', 4: 'btn-rank-4', 5: 'btn-rank-5'}[gun.rank]"  class="btn btn-gun"  ng-click="showGunCount(gun)" ng-repeat="gun in gun_info | orderBy: 'rank' |  filter:{type:3}">
                {{gun.name}}
                <span class="gun_code">| {{gun.code}}</span>
            </button>

        </div>

        <br>
        <div>
            <h4>
                AR(突击步枪)
            </h4>
            <br>
            <button type="button"  ng-class="{2: 'btn-rank-2', 3: 'btn-rank-3', 4: 'btn-rank-4', 5: 'btn-rank-5'}[gun.rank]"  class="btn btn-gun"  ng-click="showGunCount(gun)" ng-repeat="gun in gun_info | orderBy: 'rank' | filter:{type:4}">
                {{gun.name}}
                <span class="gun_code">| {{gun.code}}</span>
            </button>
        </div>

        <br>
        <div>
            <h4>
                MG(机枪)
            </h4>

            <button type="button"  ng-class="{2: 'btn-rank-2', 3: 'btn-rank-3', 4: 'btn-rank-4', 5: 'btn-rank-5'}[gun.rank]"  class="btn btn-gun" ng-click="showGunCount(gun)" ng-repeat="gun in gun_info | orderBy: 'rank' | filter:{type:5}">
                {{gun.name}}
                <span class="gun_code">| {{gun.code}}</span>
            </button>

        </div>

        <br>
        <div>
            <h4>
                SG(霰弹枪)
            </h4>

            <button type="button"  ng-class="{2: 'btn-rank-2', 3: 'btn-rank-3', 4: 'btn-rank-4', 5: 'btn-rank-5'}[gun.rank]"  class="btn btn-gun"  ng-click="showGunCount(gun)" ng-repeat="gun in gun_info | orderBy: 'rank' | filter:{type:6}">
                {{gun.name}}
                <span class="gun_code">| {{gun.code}}</span>
            </button>
        </div>



        <hr>



        <div>
            <h4>
                配件
            </h4>

            <button type="button"  ng-class="{2: 'btn-equip-rank-2', 3: 'btn-equip-rank-3', 4: 'btn-equip-rank-4', 5: 'btn-equip-rank-5'}[equip.rank]"  class="btn btn-gun"  ng-click="showEquipCount(equip)" ng-repeat="equip in equip_info | remove_equiq_not_used | filter:{category:1} | orderBy: 'rank'">
                {{equip.name}}
                <span class="gun_code"></span>
            </button>
        </div>

        <br>
        <div>
            <h4>
                弹匣
            </h4>

            <button type="button"  ng-class="{2: 'btn-equip-rank-2', 3: 'btn-equip-rank-3', 4: 'btn-equip-rank-4', 5: 'btn-equip-rank-5'}[equip.rank]"  class="btn btn-gun"  ng-click="showEquipCount(equip)" ng-repeat="equip in equip_info | remove_equiq_not_used | filter:{category:2} | orderBy: 'rank' ">
                {{equip.name}}
                <span class="gun_code"></span>
            </button>
        </div>

        <br>
        <div>
            <h4>
                人形
            </h4>

            <button type="button"  ng-class="{2: 'btn-equip-rank-2', 3: 'btn-equip-rank-3', 4: 'btn-equip-rank-4', 5: 'btn-equip-rank-5'}[equip.rank]"  class="btn btn-gun"  ng-click="showEquipCount(equip)"ng-repeat="equip in equip_info | remove_equiq_not_used | filter:{category:3} | orderBy: 'rank' ">
                {{equip.name}}
                <span class="gun_code"></span>
            </button>
        </div>




        <div class="latest_build" ng-show="showlatest" >
            <h4>
                最近出货
            </h4>
            <table class="table">
                <thead>
                <tr>
                    <td>
                        序号
                    </td>
                    <td>
                        人形
                    </td>

                    <td>
                        人力
                    </td>
                    <td>
                        弹药
                    </td>
                    <td>
                        口粮
                    </td>
                    <td>
                        零件
                    </td>

                </tr>
                </thead>

                <tbody>

                <tr ng-repeat="record in latestBuild">

                    <td>
                        {{$index +1}}
                    </td>
                    <td>

                        {{doll_list['id_'+record.id].name}}
                    </td>



                    <td>
                        {{record.mp}}
                    </td>
                    <td>
                        {{record.ammo}}
                    </td>
                    <td>
                        {{record.mre}}
                    </td>
                    <td>
                        {{record.part}}
                    </td>

                </tr>
                </tbody>

            </table>
        </div>

    </div>

</div>
<div class="content" ng-show="page == 'GunCount'">
    <div class="container">

        <h4 class="intro">
            数据来自<a href="#"  >{{dataFrom}}</a>.
        </h4>

        <br>

        <button type="button" class="btn btn-primary btn-gun" ng-click="backToList()">返回列表</button>

        <h4 ng-show="build_info_loading">
            Loading...
        </h4>

        <h4 ng-show="!build_info_loading">
        {{currentGun.name}}的出货统计数据：
        </h4>


        <table class="table table-hover">
            <thead>
            <tr style="cursor: pointer">
                <td>
                    序号
                </td>
                <td ng-click="tabSort('mp')">
                    人力
                </td>
                <td ng-click="tabSort('ammo')">
                    弹药
                </td>
                <td ng-click="tabSort('mre')">
                    口粮
                </td>
                <td ng-click="tabSort('part')">
                    零件
                </td>

                <td ng-click="tabSort('item1')">
                    契约
                </td>
                <td ng-click="tabSort('core')">
                    核心
                </td>

                <td ng-click="tabSort('count')">
                    出货数
                </td>

                <td ng-click="tabSort('total')">
                    总数
                </td>
                <td ng-click="tabSort('rate')">
                    出货率
                </td>
            </tr>
            </thead>

            <tbody>

            <tr style="cursor: pointer" ng-repeat="record in build_info.res | orderBy: sort" ng-click="showFormula(record)">
            <!--<tr style="cursor: pointer" ng-repeat="record in build_info.res">-->


            <td>
                    {{$index +1}}
                </td>

                <td>
                    {{record.mp}}
                </td>
                <td>
                    {{record.ammo}}
                </td>
                <td>
                    {{record.mre}}
                </td>
                <td>
                    {{record.part}}
                </td>

                <td>
                    {{record.item1}}
                </td>
                <td>
                    {{record.core}}
                </td>
                <td>
                    {{record.count}}
                </td>
                <td>
                    {{record.total}}
                </td>
                <td>
                    {{(100 *(record.count/record.total)).toFixed(3)+'%'}}
                </td>

            </tr>
            </tbody>

        </table>

    </div>
</div>


<div class="content" ng-show="page == 'EquipCount'">
    <div class="container">

        <h4 class="intro">
            数据来自<a href="#"  >{{dataFrom}}</a>.
        </h4>

        <br>

        <button type="button" class="btn btn-primary btn-gun" ng-click="backToList()">返回列表</button>

        <h4 ng-show="build_info_loading">
            Loading...
        </h4>

        <h4 ng-show="!build_info_loading">
            {{currentEquip.name}}的出货统计数据：
        </h4>


        <table class="table table-hover">
            <thead>
            <tr style="cursor: pointer">
                <td>
                    序号
                </td>
                <td ng-click="tabSort('mp')">
                    人力
                </td>
                <td ng-click="tabSort('ammo')">
                    弹药
                </td>
                <td ng-click="tabSort('mre')">
                    口粮
                </td>
                <td ng-click="tabSort('part')">
                    零件
                </td>

                <td ng-click="tabSort('count')">
                    出货数
                </td>

                <td ng-click="tabSort('total')">
                    总数
                </td>
                <td ng-click="tabSort('rate')">
                    出货率
                </td>
            </tr>
            </thead>

            <tbody>

            <tr style="cursor: pointer" ng-repeat="record in build_info.res | orderBy: sort" ng-click="showEquipFormula(record)">
                <!--<tr style="cursor: pointer" ng-repeat="record in build_info.res">-->


                <td>
                    {{$index +1}}
                </td>

                <td>
                    {{record.mp}}
                </td>
                <td>
                    {{record.ammo}}
                </td>
                <td>
                    {{record.mre}}
                </td>
                <td>
                    {{record.part}}
                </td>


                <td>
                    {{record.count}}
                </td>
                <td>
                    {{record.total}}
                </td>
                <td>
                    {{(100 *(record.count/record.total)).toFixed(3)+'%'}}
                </td>

            </tr>
            </tbody>

        </table>

    </div>
</div>




<div class="content" ng-show="page == 'FomularCount'">
    <div class="container">
        <h4 class="intro">
            数据来自<a href="#">{{dataFrom}}</a>.
        </h4>
        <br>

        <button type="button" class="btn btn-primary btn-gun" ng-click="backToGunCount()">返回列表</button>

        <h4 ng-show="build_info_loading">
            Loading...
        </h4>

        <h4 ng-show="!build_info_loading">
            {{currentFomular.mp}} {{currentFomular.ammo}} {{currentFomular.mre}} {{currentFomular.part}} 的出货统计数据：
        </h4>


        <p>
            共查询到{{currentTotal}}条数据.
        </p>


        <table class="table table-hover">
            <thead>
            <tr style="cursor: pointer">
                <td>
                    序号
                </td>
                <td ng-click="tabSort('id')">
                    人形No.
                </td>


                <td ng-click="tabSort('star')">
                    星级
                </td>

                <td>
                    人形
                </td>

                <td>
                    人力
                </td>
                <td>
                    弹药
                </td>
                <td>
                    口粮
                </td>
                <td>
                    零件
                </td>

                <td >
                    契约
                </td>
                <td>
                    核心
                </td>
                <td ng-click="tabSort('count')">
                    出货数
                </td>

                <td ng-click="tabSort('formularRate')">
                    出货率
                </td>

            </tr>
            </thead>

            <tbody>

            <tr style="cursor: pointer" ng-repeat="record in formularList | orderBy:sort" ng-click="showGunCount(doll_list['id_'+record.id])">

                <td>
                    {{$index +1}}
                </td>
                <td  >
                    {{record.id}}
                </td>
                <td  ng-class="{2: 'color-rank-2', 3: 'color-rank-3', 4: 'color-rank-4', 5: 'color-rank-5'}[doll_list['id_'+record.id].rank]" >
                    {{doll_list['id_'+record.id].rank.replace('5','★★★★★').replace('4','★★★★').replace('3','★★★').replace('2','★★')}}
                </td>

                <td  >
                    {{doll_list['id_'+record.id].name}}
                </td>
                <td>
                    {{currentFomular.mp}}
                </td>
                <td>
                    {{currentFomular.ammo}}
                </td>
                <td>
                    {{currentFomular.mre}}
                </td>
                <td>
                    {{currentFomular.part}}
                </td>
                <td >
                    {{currentFomular.item1}}
                </td>
                <td>
                    {{currentFomular.core}}
                </td>

                <td>
                    {{record.count}}
                </td>
                <td>
                    {{(100 *(record.count/currentTotal)).toFixed(3)+'%'}}
                </td>
                <td>

                </td>

            </tr>
            </tbody>

        </table>

    </div>
</div>

<div class="content" ng-show="page == 'EquipFomularCount'">
    <div class="container">
        <h4 class="intro">
            数据来自<a href="#">{{dataFrom}}</a>.
        </h4>
        <br>

        <button type="button" class="btn btn-primary btn-gun" ng-click="backToEquipCount()">返回列表</button>

        <h4 ng-show="build_info_loading">
            Loading...
        </h4>

        <h4 ng-show="!build_info_loading">
            {{currentFomular.mp}} {{currentFomular.ammo}} {{currentFomular.mre}} {{currentFomular.part}} 的出货统计数据：
        </h4>


        <p>
            共查询到{{currentTotal}}条数据.
        </p>


        <table class="table table-hover">
            <thead>
            <tr style="cursor: pointer">
                <td>
                    序号
                </td>
                <td ng-click="tabSort('id')">
                    装备No.
                </td>


                <td ng-click="tabSort('equipstar')">
                    星级
                </td>

                <td>
                    装备
                </td>

                <td>
                    人力
                </td>
                <td>
                    弹药
                </td>
                <td>
                    口粮
                </td>
                <td>
                    零件
                </td>

                <td >
                    契约
                </td>
                <td>
                    核心
                </td>
                <td ng-click="tabSort('count')">
                    出货数
                </td>

                <td ng-click="tabSort('formularRate')">
                    出货率
                </td>

            </tr>
            </thead>

            <tbody>

            <tr style="cursor: pointer" ng-repeat="record in formularList | orderBy:sort" ng-click="showEquipCount(equip_list['id_'+record.id])">

                <td>
                    {{$index +1}}
                </td>
                <td  >
                    {{record.id}}
                </td>
                <td  ng-class="{2: 'color-equip-rank-2', 3: 'color-equip-rank-3', 4: 'color-equip-rank-4', 5: 'color-equip-rank-5'}[equip_list['id_'+record.id].rank]" >
                    {{equip_list['id_'+record.id].rank.replace('5','★★★★★').replace('4','★★★★').replace('3','★★★').replace('2','★★')}}
                </td>

                <td  >
                    {{equip_list['id_'+record.id].name}}
                </td>
                <td>
                    {{currentFomular.mp}}
                </td>
                <td>
                    {{currentFomular.ammo}}
                </td>
                <td>
                    {{currentFomular.mre}}
                </td>
                <td>
                    {{currentFomular.part}}
                </td>
                <td >
                    {{currentFomular.item1}}
                </td>
                <td>
                    {{currentFomular.core}}
                </td>

                <td>
                    {{record.count}}
                </td>
                <td>
                    {{(100 *(record.count/currentTotal)).toFixed(3)+'%'}}
                </td>
                <td>

                </td>

            </tr>
            </tbody>

        </table>

    </div>
</div>




<div class="footer container">
    <hr style="margin-bottom: 10px">
    <div style="font-size:12px;color:#999;float:right">
        Powered by GFDB
        <br>
        只做了一点微小的工作
    </div>
</div>

</body>

<script>


    var sp_gun_info = 'json/'   //local json


    var sp_build_info = 'http://gfdb.baka.pw/'


    angular.module('app', [
    ]).controller('list',['$scope','$http','$location',function($scope,$http,$location){


        $scope.dataFrom = '长者的教诲';

        $scope.doll_list = {};
        $scope.equip_list = {};


        // page status
        $scope.page = 'List';   //List, GunCount, FomularCount


//        init gun info & List page

        $scope.gun_info = [];

        $scope.get_gun_info = function(){
            var gun_info = $http({
                method:'GET',
                url:sp_gun_info +　'gun_info.json'
            });


            gun_info.then(function(resp){
                console.log(resp.data)

                if(resp.data.gun_info){
                    $scope.gun_info = resp.data.gun_info;
                }else{
                    $scope.gun_info = resp.data;
                }

                for(var doll in $scope.gun_info){

                    if($scope.gun_info[doll].id){
                        $scope.doll_list['id_'+$scope.gun_info[doll].id] = $scope.gun_info[doll]
                    }
                }
            })
        }



        $scope.get_gun_info();

        $scope.get_equip_info = function(){
            var equip_info = $http({
                method:'GET',
                url:sp_gun_info +　'equip_info.json'
            });


            equip_info.then(function(resp){
                console.log(resp.data)

                if(resp.data.equip_info){
                    $scope.equip_info = resp.data.equip_info;
                }else{
                    $scope.equip_info = resp.data;
                }


                for(var equip in $scope.equip_info){

                    if($scope.equip_info[equip].id){
                        $scope.equip_list['id_'+$scope.equip_info[equip].id] = $scope.equip_info[equip]
                    }
                }
            })
        }
        $scope.get_equip_info();

//        Gun count page

        $scope.showGunCount = function(gun){

            $scope.page = 'GunCount';

            $scope.currentGun = gun;
            $scope.build_info_loading = true;

            var build_info = $http({
                method:'GET',
                url:sp_build_info +　'api/result.php?id=' + gun.id
            });

            build_info.then(function(resp){

                $scope.build_info = resp.data;
                $scope.build_info_loading = false;
            })
        }

        $scope.showEquipCount = function(equip){

            $scope.page = 'EquipCount';

            $scope.currentEquip = equip;
            $scope.build_info_loading = true;

            var build_info = $http({
                method:'GET',
                url:sp_build_info +　'api/result.php?id=' + equip.id + '&equip=1'
            });

            build_info.then(function(resp){

                $scope.build_info = resp.data;
                $scope.build_info_loading = false;
            })
        }







//        sort hacks

        $scope.SortReverse = '';


        $scope.sort = function(item) {

            if( $scope.SortReverse == 'reverse'){

                if($scope.orderProp == 'rate'){
                    return item.total/item.count;
                }

                if($scope.orderProp == 'formularRate'){
                    return item.count/$scope.currentTotal;
                }

                if($scope.orderProp == 'star'){
                  if($scope.doll_list['id_'+item.id])
                    return  $scope.doll_list['id_'+item.id].rank
                }

                if($scope.orderProp == 'equipstar'){
                    if($scope.equip_list['id_'+item.id])
                        return  $scope.equip_list['id_'+item.id].rank
                }

                return -Math.floor(item[$scope.orderProp]);
            }else{
                if($scope.orderProp == 'formularRate'){
                    return $scope.currentTotal/item.count;
                }
                if($scope.orderProp == 'rate'){
                    return item.count/item.total;
                }

                if($scope.orderProp == 'star'){
                    if($scope.doll_list['id_'+item.id])
                        return  -$scope.doll_list['id_'+item.id].rank
                }

                if($scope.orderProp == 'equipstar'){
                    if($scope.equip_list['id_'+item.id])
                        return  -$scope.equip_list['id_'+item.id].rank
                }

                return Math.floor(item[$scope.orderProp]);
            }

        }

        $scope.tabSort = function (sortKey) {

            if( $scope.SortReverse == 'reverse'){
                $scope.SortReverse = ''
            }else
            {
                $scope.SortReverse = 'reverse'
            }
            $scope.orderProp = sortKey;
        };

        $scope.backToList = function(){
            $scope.page = 'List';
            $scope.currentGun = {}
            $scope.build_info = {}
        }

        $scope.backToGunCount = function(){
            $scope.page = 'GunCount';

        }
        $scope.backToEquipCount = function(){
            $scope.page = 'EquipCount';
        }


        $scope.formularList = [];

        $scope.currentFomular = {};
        $scope.currentGun = {}

        $scope.latestBuild = {}

        $scope.build_info_loading = true;

//      latest build is off now

        $scope.showlatest= false;

//        var latest_build = $http({
//            method:'GET',
//            url:sp_build_info +　'api/log.php'
//        });
//
//        latest_build.then(function(resp){
////            console.log(resp.data)
//            $scope.latestBuild = resp.data;
//
//            $scope.showlatest = true;
//        })



        $scope.showFormula = function(record){

            $scope.page = 'FomularCount';

            $scope.build_info_loading = true;

            $scope.currentFomular = record;

            console.log(record)

            var data = {mp: record.mp, ammo: record.ammo, mre:record.mre, part: record.part,Limit:150}

            var formula = $http({
                method:'POST',
                url:sp_build_info +　'api/formula.php',
                data:data,
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                transformRequest: function(obj) {        
                    var str = [];        
                    for(var p in obj){          
                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));        
                    }        
                    return str.join("&");      
                }
            });


            formula.then(function(resp){
                console.log(resp.data)
                $scope.formularList = resp.data;

                $scope.currentTotal = 0;

                for(var i in $scope.formularList){
                    $scope.currentTotal += Math.floor($scope.formularList[i].count);
                }
                $scope.build_info_loading = false;
            })
        }

        $scope.showEquipFormula = function(record){

            $scope.page = 'EquipFomularCount';

            $scope.build_info_loading = true;

            $scope.currentFomular = record;

            console.log(record)

            var data = {mp: record.mp, ammo: record.ammo, mre:record.mre, part: record.part,Limit:150,equip:1}

            var formula = $http({
                method:'POST',
                url:sp_build_info +　'api/formula.php',
                data:data,
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                transformRequest: function(obj) {
                    var str = [];
                    for(var p in obj){
                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                    }
                    return str.join("&");
                }
            });


            formula.then(function(resp){
                console.log(resp.data)
                $scope.formularList = resp.data;

                $scope.currentTotal = 0;

                for(var i in $scope.formularList){
                    $scope.currentTotal += Math.floor($scope.formularList[i].count);
                }
                $scope.build_info_loading = false;
            })
        }



        $scope.last_update = 0;
        $scope.equip_count = 99999;
        $scope.gun_count = 99999;

        $scope.getInfo = function(){

            var info = $http({
                method:'GET',
                url:sp_build_info +　'api/info.php'
            });

            info.then(function(resp){

                console.log(resp.data)
                $scope.last_update = new Date(Math.floor(resp.data.last_update + '000'));

                $scope.equip_count = resp.data.equip_count;
                $scope.gun_count = resp.data.gun_count;;

            })
        }


        $scope.getInfo();

    }


    ]).config(function($sceProvider) {
        // Completely disable SCE to support IE7.
        $sceProvider.enabled(false);
    }).filter('remove_equiq_not_used', function () {
        return function (input) {
            input = input || '';

            var output = [];

            for (var i = 0; i < input.length; i++) {

                var r = input[i].code.split('_');

                if(r.length > 1){
                    output.push(input[i])
                }
            }
            return output;
        };
    });


</script>
</html>